.container {
  padding: 0px;
}
.nav-type {
  /* border: 2px solid red; */
}
.card-body {
  cursor: pointer;
  user-select: none;
  /* border: 2px solid red; */
}
.card-body {
  padding: 0px;
}
.ticket-header {
  /* background: #c2bfd1; */
  /* border: 2px solid red; */
  padding: 10px;
  margin: 0px;
}
.priority-marker {
  height: 20px;
  width: 20px;
  /* border: 2px solid gray; */
  border-radius: 3px;
  border-radius: 20px;
  margin-right: 10px;
}

.ticket-brief-info {
  padding: 10px;
}

/* raise ticket options */
#searchBox {
  /* margin: 20px; */
}

#selectedOptionsContainer {
  border: 1px solid #f7f7f7;
  border-radius: 12px;
  background-color: #f7f7f7; /* Grey background color */
  /* display: inline; */
  padding: 10px; /* Add some padding for better appearance */
  margin-top: 10px; /* Add margin to separate from checkboxes */
}

/* .searchLabel {
  display: block;
  font-size: 18px;
  color: #3b3b3b;
  margin-bottom: 5px;
} */

.searchbar {
  margin-right: 50px !important;
}

.search-box {
  padding-left: 10px;
  border: 2px solid #919394;
  border-radius: 6px;
  /* border: none; */
  font-size: 15px;
  /* outline: none; */
}

.bold {
  font-weight: bold;
}

button.active {
  font-weight: bold;
  background-color: #dacfcf;
  border-radius: 1px;
}

#resultDropdown {
  display: none;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
}

.resultItem {
  padding: 8px;
  cursor: pointer;
}

.resultItem:hover {
  background-color: #f0f0f0;
}

.card {
  min-width: 330px;
  max-width: 330px;
  max-height: 266px;
}
.card:hover {
  scale: 1.02;
  z-index: 1;
}

.link-item:hover {
  cursor: pointer;
  user-select: none;
  font-size: large;
}

.nav-link {
  color: inherit;
}

.nav-link.active {
  color: black;
  font-weight: bold;
}

.edit-machine-info {
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f5f5f5;
  width: 96%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.edit-machine-info h6 span {
  font-weight: normal;
}

.navbar-collapse {
  justify-content: center;
}
.navbar-nav .nav-item {
  margin: 0 10px;
}
.navbar-toggler {
  order: -1;
  border-bottom: none;
}

/* opening card  */
.modal-body {
  overflow: auto;
  max-height: 75vh;
}
.edit-card-button {
  /* width: auto; */
  /* border: 2px solid red; */
  /* margin-right: 10px; */
}
.edit-card-button:hover {
  cursor: pointer;
  user-select: none;
  scale: 1.4;
}
.edit-card-button img {
  width: 25px;
}
.delete-card-button:hover {
  cursor: pointer;
  user-select: none;
  scale: 1.4;
}
.delete-card-button img {
  width: 25px;
}
.card-group {
  /* position: fixed; */
  overflow-y: auto;
  height: 70vh;
}
.issue h6,
.issue-raise-persons h6,
.issue-assigned-persons h6 {
  padding: 2px;
  margin-right: 2px;
}
@media (max-width: 576px) {
  .navbar-nav .nav-item {
    margin: 10px;
    width: 30%;
  }
  .nav-tabs {
    width: 30%;
    flex-direction: column;
    color: #007bff;
  }
  .navbar {
    width: auto;
  }
  .raise-ticket-btn {
  }
  .nav-type {
    align-items: start;
  }
  .header-left-filter {
    /* width: auto; */
  }
}
.nav-type {
  align-items: center;
}
.nav-link.active {
  border-bottom: 2px solid #007bff; /* Change this to your preferred color */
  color: #007bff; /* Change this to your preferred color */
}
.bg-green {
  background: green;
}
.bg-red {
  background: red;
}
.bg-yellow {
  background: yellow;
}
.bg-orange {
  background: orange;
}

/* raise ticket model */
.select2-container .select2-selection--single {
  height: 34px !important;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #ccc !important;
  border-radius: 0px !important;
}

.delete_attachments_icon {
  cursor: pointer;
  user-select: none;
  color: blue;
}
.strikethrough {
  text-decoration: line-through;
}

#showattachments i.fa-regular:hover {
  cursor: pointer;
  color: red;
}

.list-group-item-action:hover {
  color: #007bff;
}

/* ticket paramets*/
.ticket-parameters,
.create-ticket-btn {
  display: none;
}

span,
p {
  /* border: 2px solid red; */
}
