<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Support</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" />

  <link rel="stylesheet" href="../static/style/base.css" />
</head>

<body>
  <div class="container my-3 position-relative">
    <!-- raise ticket popup -->
    <div class="alert alert-success position-absolute top-5 end-0 z-2 d-none" id="raise_ticket_alert_success">
      <strong>Congratulations!</strong> You ticket saved succesfully.
    </div>
    <div class="alert alert-danger position-absolute top-5 end-0 z-2 d-none" id="raise_ticket_alert_danger">
      <strong>Yupp!</strong> Server Error Try again.
    </div>
    <!-- Header -->
    <div class="row nav-type text-center d-flex p-3">
      <div class="col-7 z-0 header-left-filter">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav w-100">
                <ul class="nav nav-tabs m-3 w-100">
                  <li class="nav-item">
                    <a class="nav-link active nav-all-route" id="allButton" aria-current="page" href="#">ALL</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link nav-software-route" id="softwareButton" aria-current="page" href="#">Software</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link nav-data-route" id="dataButton" aria-current="page" href="#">Data</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link nav-hardware-route" id="hardwareButton" aria-current="page" href="#">Hardware</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <div class="col-5 d-flex align-items-center justify-content-end z-1 flex-shrink-1">
        <!-- searchBar  -->
        <div class="searchbar">
          <input type="text" class="search-box" placeholder="Search Machine ID..." />
          <span class="search-icon "></span>
        </div>
        <!-- searchBar  -->
        <button class="btn btn-primary raise-ticket-btn text-nowrap" type="button" data-bs-toggle="modal"
          data-bs-target="#raiseticket">
          Raise Ticket
        </button>
      </div>
    </div>

    <!-- card body -->
    <div class="d-flex bd-highlight m-4">
      <!-- left card filers  -->
      <div class="p-2 flex-shrink-1 bd-highlight">
        <div class="d-flex flex-column bd-highlight mb-3">
          <!-- <div class="p-2 bd-highlight text-nowrap link-item" id="pendingButton">Pending</div>
          <div class="p-2 bd-highlight text-nowrap link-item" id="ongoingButton">Ongoing</div>
          <div class="p-2 bd-highlight text-nowrap link-item" id="internetissueButton">
            InternetIssue
          </div>
          <div class="p-2 bd-highlight text-nowrap link-item" id="doneButton">Done</div> -->
          <div class="p-2 bd-highlight text-nowrap link-item">
            <input type="checkbox" class="state-checkbox" id="pendingCheckbox">
            <label for="pendingCheckbox">Pending</label>
          </div>
          <div class="p-2 bd-highlight text-nowrap link-item">
            <input type="checkbox" class="state-checkbox" id="ongoingCheckbox">
            <label for="ongoingCheckbox">Ongoing</label>
          </div>
          <div class="p-2 bd-highlight text-nowrap link-item">
            <input type="checkbox" class="state-checkbox" id="internetissueCheckbox">
            <label for="internetissueCheckbox">InternetIssue</label>
          </div>
          <div class="p-2 bd-highlight text-nowrap link-item">
            <input type="checkbox" class="state-checkbox" id="doneCheckbox">
            <label for="doneCheckbox">Done</label>
          </div>


          <!--
              <div class="p-2 bd-highlight text-nowrap link-item">Clear All</div>
            -->
        </div>
      </div>
      <!-- right cards div  -->
      <div class="p-2 w-100 bd-highlight">
        <div class="card-group">
          ......
        </div>
      </div>
    </div>
    <div id="paginationContainer"></div>

    <!-- Button trigger modal -->
    <!--

        <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        >
        Launch demo modal
      </button>
    -->

    <!-- card Modal -->
    <div class="modal fade" id="cardModal" tabindex="-1" aria-labelledby="cardModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="cardModalLabel">Card Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">...</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Raise Ticket Modal -->
    <div class="modal fade bd-example-modal-lg" data-bs-backdrop="static" data-bs-keyboard="false" id="raiseticket"
      tabindex="-1" aria-labelledby="raiseticketLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="raiseticketLabel">Raise ticket</h4>

            <button type="button" class="btn-close close-raise-ticket" data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- Dropdown -->
            <div class="container">
              <div class="row">
                <div id="searchBox" class="col-md-12">
                  <label class="searchLabel" for="searchInput">Search:
                  </label>
                  <input type="text" id="searchInput" class="form-select" />
                  <div id="checkboxesContainer"></div>
                  <div id="selectedOptionsContainer" style="display: none;">
                    <h5>Selected Machines: </h5>
                  </div>
                </div>

                <!-- submit ticket parameters -->
                <div class="row ticket-parameters mt-3 d-none m-auto" id="ticketParameters">
                  <!-- head institution with machine name-->
                  <!-- head institution-->
                  <!-- <div class="row m-auto"> -->
                  <!-- <div class="col-md-4">
                      <label>Head Institution:</label>
                      <select class="form-control" id="institutionSelect">
                        <option>Select Institution</option>
                        {% for tdata in ticket_data %}
                        <option>{{tdata}}</option>
                        {% endfor %}
                      </select>
                    </div> -->
                  <!-- Location -->
                  <!-- <div class="col-md-4">
                      <label>Location: </label>
                      <select class="form-control" id="SelectLocation" disabled>
                        <option>Select Location</option>
                      </select>
                    </div> -->
                  <!-- Machine No. -->
                  <!-- <div class="col-md-4">
                      <label>Machine No.</label>
                      <select class="form-control" id="SelectMachineNo" disabled>
                        <option>Select Machine No.</option>
                      </select>
                    </div>
                  </div> -->
                  <div class="col-12 mb-3">
                    <!-- generated by -->
                    <label for="selectgeneratedby" class="form-label">Generated By:</label>
                    <select id="selectgeneratedby" class="form-select">
                      <option selected>Choose...</option>
                      <option>Ashish</option>
                    </select>
                  </div>
                  <!-- attachments -->
                  <div class="mb-3">
                    <label for="addattachemnts1" class="form-label w-100">Attachments:</label>
                    <div class="d-flex gap-1">
                      <input class="form-control w-100" type="file" id="addattachemnts1" multiple />
                      <button type="button" class="btn btn-secondary flex-shrink-1" id="submitattachemnts">
                        Add
                      </button>
                    </div>
                    <div id="showattachments"></div>
                  </div>
                  <!-- error details -->
                  <div class="mb-3">
                    <label for="error_detail_desc" class="form-label">Error Details:
                    </label>
                    <textarea class="form-control" id="error_detail_desc" rows="3"></textarea>
                  </div>
                  <div class="row">
                    <!-- issue type -->
                    <div class="col-sm-4">
                      <label for="select_issue_type" class="form-label">Issue Type:</label>
                      <select id="select_issue_type" class="form-select">
                        <option selected>Software</option>
                        <option>Hardware</option>
                        <option>Datateam</option>
                      </select>
                    </div>
                    <!-- priority -->
                    <div class="col-sm-4">
                      <label for="select_priority" class="form-label">Priority:</label>
                      <select id="select_priority" class="form-select">
                        <option selected>Choose...</option>
                        <option>High</option>
                        <option>Medium</option>
                        <option>Low</option>
                      </select>
                    </div>
                    <!-- commitment days -->
                    <div class="col-sm-4">
                      <label for="commitment_days" class="form-label">Commitment days:
                      </label>
                      <input type="number" id="commitment_days" name="commitment_days" class="form-control" min="0"
                        max="10" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary close-modal d-none" data-bs-dismiss="modal">
              Close
            </button>
            <button type="button" class="btn btn-primary next-ticket-btn">
              Next
            </button>
            <button type="button" class="btn btn-primary back-ticket-btn d-none">
              Back
            </button>
            <button id="saveTicketBtn" type="button" class="btn btn-primary create-ticket-btn d-none"
              data-bs-dismiss="modal">
              Create Ticket
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit Card Modal -->
    <div class="modal fade" id="editcard" tabindex="-1" aria-labelledby="editcardLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editcardLabel">Edit ticket model</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container row">
              <!--**** machines information data start ***** -->
              <div class="edit-machine-info">
                <div>
                  <h6>Head Instituition: <span id="edit_modal_head_institution"></span></h6>
                </div>
                <div>
                  <h6>Locations: <span id="edit_modal_location"></span></h6>
                </div>
                <div>
                  <h6>Machines: <span id="edit_modal_machine_no"></span> </h6>
                </div>
              </div>

              <!-- pre defined head institution -->
              <!-- <div class="col-4 mb-3">
                <label>Head Institution:</label>
                <input class="form-control" type="text" value="Head Institution here..."
                  id="edit_modal_head_institution" aria-label="readonly input example" disabled readonly />
              </div> -->
              <!-- pre defined location -->
              <!-- <div class="col-4 mb-3">
                <label>Location:</label>
                <input class="form-control" type="text" value="Location here..." id="edit_modal_location"
                  aria-label="readonly input example" disabled readonly />
              </div> -->
              <!-- pre defined Machine No. -->
              <!-- <div class="col-4 mb-3">
                <label>Machine No.</label>
                <input class="form-control" type="text" value="Machine No. here..." id="edit_modal_machine_no"
                  aria-label="readonly input example" disabled readonly />
              </div> -->
              <!-- Assigned task -->
              <div class="col-4 mb-3">
                <label for="editAssignedTask" class="form-label">Assigned Task:</label>
                <!-- <input
                    type="text"
                    class="form-control"
                    id="editAssignedTask"
                    placeholder="Example input placeholder"
                  /> -->
                <select id="editAssignedTask" class="form-select">
                  <!-- <option selected>Choose...</option>
                    <option>Anmoldeep</option>
                    <option>Pankaj</option>
                    <option>Santosh</option>
                    <option>Ankit</option>
                    <option>Nishit</option>
                    <option>RipuDaman</option>
                    <option>Ashish</option> -->
                </select>
              </div>

              <!-- Support Mode -->
              <div class="col-4 mb-3">
                <!-- <input
                    type="text"
                    class="form-control"
                    id="editSupportMode"
                    placeholder="Example input placeholder"
                  /> -->
                <label for="editSupportMode" class="form-label">Support Mode:</label>
                <select id="editSupportMode" class="form-select">
                  <!-- <option selected>Choose...</option>
                    <option >online</option>
                    <option>offline</option> -->
                </select>
              </div>

              <!-- Support State -->
              <div class="col-4 mb-3">
                <label for="editSupportState" class="form-label">Support State:</label>
                <select id="editSupportState" class="form-select">
                  <!-- <option selected>Choose...</option>
                    <option>Pending</option>
                    <option>Ongoing</option>
                    <option>InternetIssue</option>
                    <option>Done</option> -->
                </select>
                <!-- <input
                    type="text"
                    class="form-control"
                    id="editSupportState"
                    placeholder="Example input placeholder"
                  /> -->
              </div>

              <!-- Resolved By -->
              <div class="col-4 mb-3 " style="display: none;" id="resolved_by">
                <label for="editResolvedBy" class="form-label">Resolved By:</label>
                <select id="editResolvedBy" class="form-select">
                  <!-- <option selected>Choose...</option>
                    <option>Anmoldeep</option>
                    <option>Pankaj</option>
                    <option>Santosh</option>
                    <option>Ankit</option>
                    <option>Nishit</option>
                    <option>RipuDaman</option>
                    <option>Ashish</option> -->
                </select>
              </div>

              <!-- style="display: none;" -->
              <!-- Resolution details  -->
              <div class="col-8 mb-3 disabled-div" style="display: none;" id="resolution_details">
                <label for="editResolutionDetails" class="form-label">Resolution Details:</label>
                <input type="text" class="form-control" id="editResolutionDetails"
                  placeholder="Enter resolution Details" />
                <!-- <select id="editAssignedTask" class="form-select"> -->
                <!-- <option selected>Choose...</option>
                    <option>Anmoldeep</option>
                    <option>Pankaj</option>
                    <option>Santosh</option>
                    <option>Ankit</option>
                    <option>Nishit</option>
                    <option>RipuDaman</option>
                    <option>Ashish</option> -->
                <!-- </select> -->
              </div>

              <!-- Support Remarks  -->
              <div class="mb-3">
                <label for="editSupportRemarks" class="form-label">Support Remarks:
                </label>
                <textarea class="form-control" id="editSupportRemarks" rows="3"></textarea>
              </div>
              <!-- attachments -->
              <div class="mb-3">
                <label for="edit_attachemnts" class="form-label w-100">Attachments:</label>
                <div class="d-flex gap-1">
                  <input class="form-control w-100" type="file" id="edit_attachemnts" multiple />
                  <button type="button" class="btn btn-secondary flex-shrink-1" id="submit_edited_attachemnts">
                    Add
                  </button>
                </div>
                <div id="ShowEditAttachments"></div>
              </div>
              <!-- Issue Type  -->
              <div class="col-sm-4">
                <label for="editDepartmentType" class="form-label">Issue Type:</label>
                <select id="editDepartmentType" class="form-select">
                  <!-- <option selected>Software</option>
                    <option>Hardware</option>
                    <option>Data</option> -->
                </select>
              </div>
              <!-- Priority  -->
              <div class="col-sm-4">
                <label for="editPriority" class="form-label">Priority:</label>
                <select id="editPriority" class="form-select">
                  <!-- <option selected>Choose...</option>
                    <option>High</option>
                    <option>Medium</option>
                    <option>Low</option> -->
                </select>
              </div>
              <!-- Commitment days  -->
              <div class="col-sm-4">
                <label for="editCommitmentDays" class="form-label">Commitment days:
                </label>
                <input type="number" id="editCommitmentDays" name="quantity" class="form-control" min="0" max="10" />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Close
            </button> -->
            <button type="button" class="btn btn-primary" id="saveChangesButton">
              Save changes
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
  <script src="../static/js/base.js"></script>
</body>

</html>